# Remove any custom Redirects for testing



RewriteEngine On
RewriteCond %{REQUEST_URI} ^/(robots\.txt|sitemap\.xml)$ [NC]
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
